*.MP4
data/*
*.pyc
*.pyd
*.pt
*.pth
*.zip
logs/*
*.png
*.svg
inservice-wind-turbine0300-0400.mkv
inservice-wind-turbine0300-0400-top.mkv
*.mp4
utils/midas/blocks.py
utils/cuda-repo-wsl-ubuntu-12-8-local_12.8.0-1_amd64.deb
configs/config-WTB-blender.txt
prepare_video.sh
environment.sh
